<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="custom-icons.html">

<link rel="lazy-import" href="login-page.html">
<link rel="lazy-import" href="transaction-details.html">
<link rel="lazy-import" href="make-transactions.html">
<link rel="lazy-import" href="user-dashboard.html">
<link rel="lazy-import" href="error-page.html">

<dom-module id="banking-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      app-toolbar{ border-bottom: 1px #b4dfe5 solid;    background: #b4dfe5;}
      .drawer-list a.iron-selected{ border:1px solid  #a33327; color:#c7493a !important;} 
     

      .drawer-list a:hover{  border:1px solid #c7493a;color:#000 !important;background: rgba(193,73,58,.1)}
      .drawer-list a{color:#303c6c !important; border:1px solid #c7483a00; margin-bottom: 3px}
      .apptitle{background-color: #f4976c;
        float: right;
        padding: 8px 20px;
        right: 20px;
        position: absolute;
        }
       
       iron-selector a{color: #05386b !important}
        iron-pages{
    width: 96%;
   
}
.version{ text-align: right}
.logo{text-align: center;margin: 0px auto}
iron-icon { float: right; margin-top: 10px}
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->

     
        <app-toolbar>Banking Application</app-toolbar>

      <!-- <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        fa3178fe82a56fda8b5b7c0c30524198ada3f06d
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="login" href="[[rootPath]]login-page" title="Login">Login <iron-icon icon="icons:arrow-forward"></iron-icon></a>
          <a name="transaction details" href="[[rootPath]]transaction-details" title="Transaction Details">Transaction Details<iron-icon icon="icons:arrow-forward"></iron-icon></a>
          <a name="make transactions" href="[[rootPath]]make-transactions" title="Make Transactions">Make Transactions<iron-icon icon="icons:arrow-forward"></iron-icon></a>
        </iron-selector>
      </app-drawer> -->

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

       

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <login-page name="login-page"></login-page>
          <transaction-details name="transaction-details"></transaction-details>
          <make-transactions name="make-transactions"></make-transactions>
          <user-dashboard name="user-dashboard"></user-dashboard>
          <error-page name="error-page"></error-page>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class BankingApp extends Polymer.Element {
      static get is() { return 'banking-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login-page';

        // Close a non-persistent drawer when the page & route are changed.
        // if (!this.$.drawer.persistent) {
        //   this.$.drawer.close();
        // }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'error-page';
      }
    }

    window.customElements.define(BankingApp.is, BankingApp);
  </script>
</dom-module>