<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<dom-module id="login-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .card {
        width: 300px;
        border-radius: 0;
        padding: 0 0 50px 0;
        margin: 100px auto;
        background-color:rgba(255,255,255,.9);
        box-shadow: 6px 5px 8px 0px #888;
      }

      h1 {
        text-align: center;
        margin: 0;
        padding: 30px 30px 20px;
        border-bottom: 1px solid #ddd;
        font-weight: normal;
        font-size: 26px;
        background-color:rgba(50,205,50,.4);
      }

      .btn-group {
        text-align: center;
        margin-top: 30px;
      }

      paper-input {
        padding: 0 30px;
      }

      paper-button {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;

      }

      paper-button.green:not([disabled]) {
        background-color: var(--paper-green-500);
        color: white;
      }

      paper-button.red {
        background-color: var(--paper-red-500);
      }

      paper-button.red {
        color: white;
      }
    </style>
    <div class="card">
      <h1>USER LOGIN</h1>
          <paper-input type="text" name="userId" id="userId" required label="User Id" value="{{userId}}"></paper-input>
          <paper-input type="text" allowed-pattern="[0-9]" name="accountNumber" id="accountNumber" required label="Account Number"
            value="{{accountNumber}}"></paper-input>
          <div class="btn-group">
            <paper-button name="submit" id="login" class="green" raised on-click="_login" disabled="[[_isDisabled(userId,accountNumber)]]">Login</paper-button>
            <paper-button name="reset" id="reset" class="red" raised on-tap="_reset">Reset</paper-button>
          </div>
    </div>
  </template>

  <script>
    class LoginPage extends Polymer.Element {
      static get is() { return 'login-page'; }
      static get properties() {
        return {
          userId: {
            type: String,
            value: ""
          },
          accountNumber: {
            type: Number,
            value: ""
          }

        }
      }
      _isDisabled(userID, accNum) {
        return userID.length === 0 || accNum.length === 0;
      }
      _login() {
        localStorage.setItem("userId", this.userId);
        localStorage.setItem("accNum", this.accountNumber);
        window.history.pushState({}, null, '/user-dashboard');
        window.location.href = "user-dashboard";
      };
      _reset() {
        this.set('userId', "");
        this.set('accountNumber', "");
      }
    }
    window.customElements.define(LoginPage.is, LoginPage);
  </script>
</dom-module>