<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<dom-module id="make-transactions">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .card {
        width: 700px;
        border-radius: 0;
        padding: 0 0 50px 0;
        margin: 100px auto;
        background-color: rgba(255, 255, 255, .9);
      }

      h1 {
        text-align: center;
        margin: 0;
        padding: 30px 30px 20px;
        border-bottom: 1px solid #ddd;
        font-weight: normal;
        font-size: 26px;
        background-color: rgba(50, 205, 50, .4);
      }

      .btn-group {
        text-align: center;
        margin-top: 30px;
      }

      paper-input {
        padding: 0 30px;
        width: 40%;
        display: inline-block;
      }

      paper-button {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-weight: normal;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;

      }

      paper-button.green:not([disabled]) {
        background-color: var(--paper-green-500);
        color: white;
      }

      paper-button.red {
        background-color: var(--paper-red-500);
        color: white;
      }
      paper-button.blue{
        background-color: var(--paper-light-blue-400);
        color: white;
      }
      
    </style>
    <iron-ajax id="sendMoney" method="post" url="../data/data.json" handle-as="json" content-type="application/json" param=""
      on-response="_sendResponse" debounce-duration="300"></iron-ajax>
    <div class="card">
      <h1 class="title">Make Transactions</h1>
      <iron-form id="make_transaction">
          <paper-input type="text" disabled name="sourceId" id="sourceId" required label="Source Id"
            value="{{transactionInfo.sourceAccount}}"></paper-input>
          <paper-input type="text"  name="receiverId" id="receiverId" required label="Receiver's ID"
            value="{{transactionInfo.receiverAccount}}"></paper-input>
          <paper-input type="text" allowed-pattern="[0-9]" name="amount" id="amount" required label="Amount" value="{{transactionInfo.amount}}"></paper-input>
          <paper-input type="text" name="desc" id="desc" required label="Description" value="{{transactionInfo.desc}}"></paper-input>
          <div class="btn-group">
            <paper-button name="submit" id="login" class="green" raised on-tap="_sendMoney" disabled="[[_isDisabled(transactionInfo.sourceAccount,transactionInfo.receiverAccount,transactionInfo.amount)]]">Send</paper-button>
            <paper-button name="reset" id="reset" class="red" raised on-tap="_reset">Reset</paper-button>
            <paper-button name="dashboard" id="dashboard" class="blue" raised on-tap="_dashboard">Back To Dashboard</paper-button>
          </div>
      </iron-form>
    </div>
  </template>


  <script>
    class MakeTransactions extends Polymer.Element {
      static get is() { return 'make-transactions'; }
      static get properties() {
        return {
          transactionInfo:{
            type:Object,
            value: {receiverAccount: "", sourceAccount: "", amount: "", desc: ""}
          }
        }
      }
      ready() {

super.ready()
this.set('transactionInfo.sourceAccount', localStorage.getItem('userId'));
     
      }
      _isDisabled (receiverAccount, amount) {
        return this.transactionInfo.receiverAccount.length == 0 || this.transactionInfo.amount.length == 0;
      }
      _sendMoney() {
        console.log(this.transactionInfo.sourceAccount.length == 0 || this.transactionInfo.receiverAccount.length == 0 || this.transactionInfo.amount.length == 0)
        this.$.make_transaction.submit();
        this.$.sendMoney.body = JSON.stringify(this.transactionInfo);
        console.log(this.transactionInfo);
        this.$.sendMoney.generateRequest();
      };
      _dashboard(){
        window.history.pushState({}, null, '/user-dashboard');
                window.location.href = "user-dashboard";
      }
      _reset() {
        this.set('transactionInfo.receiverAccount', "");
        this.set('transactionInfo.amount', "");
        this.set('transactionInfo.desc', "");
      }
    }

    window.customElements.define(MakeTransactions.is, MakeTransactions);
  </script>
</dom-module>