<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<dom-module id="transaction-details">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      vaadin-grid-filter{ display: none}
     .v-grid .v-grid-header th.v-grid-cell {
    background:#5A9CC5;
    color: white;
}
    #pages {
                display: flex;
                flex-wrap: wrap;
                margin: 20px;
              }

              #pages > button {
                user-select: none;
                padding: 5px;
                margin: 0 5px;
                border-radius: 10%;
                border: 0;
                background: transparent;
                font: inherit;
                outline: none;
                cursor: pointer;
              }

              #pages > button:hover,
              #pages > button:focus {
                color: var(--default-primary-color);
                background-color: #eee;
              }

              #pages > button[selected] {
                font-weight: bold;
                color: white;
                background-color: var(--default-primary-color);
              }
.userImage{ float: left; margin: 15px 0px}
.userId p{ padding: 16px 20px 0px 20px;    display: inline-block; color: #fff}
.currentBalance p{ font-weight: bold; text-align: right; color: #fff }
vaadin-grid#girdPagination .D{
        color:red;
        
        overflow: hidden;
        text-overflow: ellipsis;
    }
    vaadin-grid#girdPagination .C{
        color:green;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    iron-icon{ color: #fff;    width: 50px;
    height: 50px;}
    vaadin-grid#girdPagination .C::after{
        content: "redit"}
          vaadin-grid#girdPagination .D::after{
        content: "ebit"}
       .accnum p{ color: #fff}
       .backButton paper-button{background: #01579B;
    color: #fff;
    float: right;
    margin-bottom: 30px;
    margin-right: 20px;}
vaadin-grid#girdPagination .header{color:green;}
    .card.userDetails{background: rgba(102, 72, 39, 0.75);}
    .title{ text-align: center}
    </style>
<iron-ajax  id="transactiondetails" on-response="_handleResponse" content-type="application/json" handle-as="json"></iron-ajax>
  <h1 class="title">Transaction Details</h1>
    <div class="card userDetails">
       <div class="users">
        <div class="userImage"><iron-icon icon="icons:account-circle" id="ironIconsCircle"></iron-icon></div>
        <div class="userId"><p class="usertext">Hi, <strong>{{userID}}</strong></p> </div>
        <div class="accnum"><p>Account Number : <strong>{{accountNumber}}</strong></p> </div>
        
      </div>
      <div class$="{{item.type}}">[[item.type]]</div>
      <!--<paper-dropdown-menu label="Filter By Transation Type" name="filtertransactiontype" on-iron-select="_selectedID" id="selected">
            <paper-listbox class="dropdown-content" slot="dropdown-content" required auto-validate attr-for-selected="value" selected="{{type}}">
              
                  <paper-item value="Debit">Debit</paper-item>
                  <paper-item value="Credit">Credit</paper-item>
              
       
        </paper-listbox>-->
      <vaadin-grid aria-label="Transaction Details" items="[[girdDatasResult]]" page-size="1" id="girdPagination" multi-sort="[[multiSort]]">

      
            <vaadin-grid-column>
              
                <template class="header">
                   
                  <vaadin-grid-sorter path="timePlaced" class="date">Date of Transactions</vaadin-grid-sorter>
                   
                  </template>
          
              <template id="viewid"><a on-tap="viewDetails">[[item.created]]</template>
              
            </vaadin-grid-column>
      
            <vaadin-grid-column width="300px">
              <template class="header">
              <vaadin-grid-sorter path="description">Particular</vaadin-grid-sorter>
              </template>
              <template>[[item.description]]</template>
             
            </vaadin-grid-column>
      
            <vaadin-grid-column>
              <template class="header">
              <vaadin-grid-sorter path="amount">Amount</vaadin-grid-sorter>
              </template>
              <template>
                <p style="white-space: normal">$ [[item.amount]]</p>
              </template>
              
            </vaadin-grid-column>

            <vaadin-grid-column>
              <template class="header">
              <vaadin-grid-sorter path="type">Transaction Type</vaadin-grid-sorter>
              </template>
              <template>
                <p style="white-space: normal" class$="{{item.type}}">[[item.type]]</p>
              </template>
              
            </vaadin-grid-column>

            
      
          </vaadin-grid>
         
          <div class="currentBalance"><p class="totaltitle">Total Amount : $ {{totalAmount}}</p></div>
    <!--<div id="pages">
      <button on-tap="_prev">&lt;</button>
      <template is="dom-repeat" items="[[girdDatasResult]]">
        <button on-tap="_select" selected$="[[_isSelected(page, item)]]">[[item]]</button>
      </template>
      <button on-tap="_next">&gt;</button>
    </div>-->
    </div>


    <div class="backButton"><paper-button raised on-tap="_backtodashboard">Back to Dashboard</paper-button></div>
  </template>

  <script>
    class TransactionDetails extends Polymer.Element {
      static get is() { return 'transaction-details'; }

      static get properties(){

        return {
          
          userId:{
            type:String,
            value:"",
            notify:true
          },
          totalAmount:{ type:Number,
            value:"",
            notify:true},
           type:{
            type:String,
            value:"",
            notify:true
          },
           amount:{
            type:Number,
            value:"",
            notify:true
          },
           description:{
            type:String,
            value:"",
            notify:true
          },
           created:{
            type:String,
            value:"",
            notify:true
          },
          items:{
            type: Array},
          page:{type: Number},
          pages:{type: Array},
          observers: ['_itemsChanged(items, page)']
        }
      }
_selectedID(){
        var selectedItemId = this.$.selected;
        this.selectedItemValue = selectedItemId.selectedItem
        console.log(this.selectedItemValue.value)

      }
      _backtodashboard(){
        window.location = "/user-dashboard"
      }
      ready(){

super.ready()

this.page = 0;
var userIDGet = localStorage.getItem("userId");
this.userID = userIDGet;
this.accountNumber = localStorage.getItem("accNum");
var transactionID = this.$.transactiondetails;
transactionID.url = "http://10.117.189.144:8080/getPaymentDetails/" + userIDGet;
transactionID.method = "get";
transactionID.generateRequest();



      }

   _handleResponse(response){

        this.girdDatasResult=response.detail.response.payments;
       var oj =response.detail.response;
        this.totalAmount = oj.payments[0].totalAmount;
        
       


      }


_isSelected(page, item) {
          return page === item - 1;
        }

        _select(e) {
          this.page = e.model.item - 1;
        }

        _next() {
          this.page = Math.min(this.pages.length - 1, this.page + 1);
        }

        _prev() {
          this.page = Math.max(0, this.page - 1);
        }

        _itemsChanged(items, page) {
          if (!this.pages) {
            this.pages = Array.apply( null, {length: Math.ceil(items.length / this.$.girdPagination.pageSize)} ).map(function(item, index) {
              return index + 1;
            });
          }

          var start = page * this.$.girdPagination.pageSize;
          var end = (page + 1) * this.$.girdPagination.pageSize;
          this.$.girdPagination.items = items.slice(start, end);
        }

    }

    window.customElements.define(TransactionDetails.is, TransactionDetails);
  </script>
</dom-module>