<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<dom-module id="user-dashboard">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }

            .card {
                padding: 0;
                background-color: rgba(255, 255, 255, .9);
            }

            h1 {
                border-bottom: 1px solid #ddd;
                padding: 25px 25px;
                text-align: center;
                font-weight: normal;
                font-size: 30px;
                margin-bottom: 0;
                background-color: rgba(255, 111, 0, .5);
                color: #fff;
            }

            .dashboard-content {
                padding: 100px;
                text-align: center;
            }

            paper-button {
                height: 150px;
                width: 300px;
                margin: 0 75px;
                font-weight: bold;
                font-size: 24px;
                padding: 35px;
                text-shadow: 2px 2px 2px #666;
            }

            .showTransaction {
                background-color: var(--google-yellow-300);
                color: var(--google-grey-100);

            }

            .showTransaction:hover {
                background-color: var(--google-yellow-500);
            }

            .makeTransaction {
                background-color: var(--google-green-300);
                color: var(--google-grey-100)
            }

            .makeTransaction:hover {
                background-color: var(--google-green-500);
            }
        </style>
        <div class="card">
            <h1>USER DASHBOARD</h1>
            <div class="dashboard-content">
                <paper-button name="showTransaction" id="showTransaction" class="showTransaction" raised on-tap="_showTransaction">Show Transactions</paper-button>
                <paper-button name="makeTransaction" id="makeTransaction" class="makeTransaction" raised on-tap="_makeTransaction">Make Transaction</paper-button>
            </div>
        </div>
    </template>

    <script>
        class UserDashboard extends Polymer.Element {
            static get is() { return 'user-dashboard'; }
            _showTransaction() {
                window.history.pushState({}, null, '/transaction-details');
                window.location.href = "transaction-details";
            };
            _makeTransaction() {
                window.history.pushState({}, null, '/make-transactions');
                window.location.href = "make-transactions";
            };
        }
        window.customElements.define(UserDashboard.is, UserDashboard);
    </script>
</dom-module>